html,
body,
* {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: white;
  color: black;
  font-family: "Raleway", sans-serif;
}
.Header {
  text-align: center;
  font-size: 100px;
}
.HeaderChild {
  background-color: #b3e5fc;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid black;
}
.container {
  padding: 5%;
}
.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.child {
  box-shadow: 5px 5px 5px 0px #8a86d6;
  text-align: center;
  border: 1px solid black;
  border-radius: 40px;
  font-size: 3rem;
  margin: 5%;
  justify-content: center;
}

#sus {
  width: 25rem;
  border-radius: 5rem;
}
@media (max-width: 768) {
}
